.card-wrapper-pet {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.card {
  width: 32%;
  min-width: 300px;
  height: 300px;
  padding: 10px;
  margin: 10px auto;
  border-radius: 0.25rem;
  background-color: #fafafa;
  overflow: auto;
}

.image {
  width: 270px;
  height: 270px;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.wrapper{
  width: 100%;
}

.text {
  word-break: break-word;
  margin-left: 12px
}

a{
  padding: 0;
}

h1{
  text-align: center;
}

button {
  margin: auto;
  width: 90%;
}