<p>registration works!</p>
<div class="col-md-12">
  <div class="card card-container">
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >

      <div class="form-group">
        <label for="imageUrl">ImageUrl</label>
        <input
          type="text"
          class="form-control"
          name="imageUrl"
          [(ngModel)]="user.imageUrl"
          required
          minlength="3"
          maxlength="200"
          #imageUrl="ngModel"
        />
      </div>


      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="user.name"
          required
          minlength="3"
          maxlength="20"
          #name="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && name.invalid">
          <div *ngIf="name.errors.required">Name is required</div>
          <div *ngIf="name.errors.minlength">
            Name must be at least 3 characters
          </div>
          <div *ngIf="name.errors.maxlength">
            Name must be at most 20 characters
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="surname">Surname</label>
        <input
          type="text"
          class="form-control"
          name="surname"
          [(ngModel)]="user.surname"
          required
          minlength="3"
          maxlength="20"
          #surname="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && surname.invalid">
          <div *ngIf="surname.errors.required">Surname is required</div>
          <div *ngIf="surname.errors.minlength">
            Surname must be at least 3 characters
          </div>
          <div *ngIf="surname.errors.maxlength">
            Surme must be at most 20 characters
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="gender">Gender</label>
        <select 
          class="form-control"
          name="gender"
          [(ngModel)]="user.gender"
          required
          #gender="ngModel">
          <option value="m">Man
          <option value="w">Woman
          <option value="s">Something else
        </select>
        <div class="alert-danger" *ngIf="f.submitted && gender.invalid">
          Please choose
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="user.email"
          required
          email
          #email="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && email.invalid">
          <div *ngIf="email.errors.required">Email is required</div>
          <div *ngIf="email.errors.email">
            Email must be a valid email address
          </div>
        </div>
      </div>


      <div class="form-group">
        <label for="date">Birthday</label>
        <input
          type="date"
          class="form-control"
          name="date"
          [(ngModel)]="user.birthDate"
          required
          date
          #date="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && date.invalid">
          Please enter your birthay
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="user.password"
          required
          minlength="6"
          #password="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">
            Password must be at least 6 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">Sign Up</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
      <a routerLink="/login" class="btn btn-link">Login</a>
    </div>
  </div>
</div>

