<h1>My pets:</h1>
<div class="card-wrapper" >
  <div class="card" *ngFor="let i of petIndexes">
     <div class="image-wrapper">
        <img class="dog-image" src="{{pets[i].imageUrl}}" />
      </div>
      <div class="text">
        <a class="nav-link" [routerLink]="['/pets/', pets[i].petId]">{{pets[i].name}}</a>
      </div>
      <div class="text">
        Category {{pets[i].category}}
      </div>
      <div class="text">
        Gender {{pets[i].gender}}
      </div>

      <div class=" alert alert-danger" *ngFor="let request of requests[i]">
      	<div>Message: {{request.message}}</div> 
      	<div>Contact info: {{request.contactInfo}}</div>
      </div>
  </div>
</div>
